main{
    padding:30px;
}
.content {
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
}

.item {
    display: flex;
    align-items:flex-start; 
    margin-top: 1em; 
    margin:auto;
}

.item:nth-child(2n){
    flex-direction: row-reverse;
}
.col{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
/* Ảnh nằm bên trái */
.anh1, .anh2, .anh3,.anh4, .anh5,  .anh6 {
    height: 13em;
    width: auto ;
    margin-right: 1em; 
}

/* Ảnh nằm bên phải */
.anh2, .anh4, .anh6 {
    margin-left: 1em; 
    margin-left:0em;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em; 
    text-align: justify; 
    max-width: 100%; 
    margin: 10px 0;
}

/* Bố trí để ảnh 1, 3, 5 nằm bên trái, 2, 4, 6 nằm bên phải */
.item:nth-child(odd) {
    justify-content: flex-start; 
}

.item:nth-child(odd) p {
    margin-left: 15px; 
}

.item:nth-child(even) {
    justify-content: flex-end; 
}

.item:nth-child(even) p {
    margin-right: 15px; 
}

hr{
    height: 2px; 
    background-color: #198ea2; 
    border: none; 
    margin: 10px 0; 
    width: 100%; 
}
#newspaper-icon {
    font-size: 1em;
    color: #ffffff;
    position: relative;
    top: 1px;              
    margin-right: 8px;
  }
.content-text {
    display: flex;
    flex-direction: column; 
    max-width: 40em; 
}


.anhdau {
    width: auto;
    background: transparent; 
    border: none; 
    box-shadow: none; 
    display: block; 
}
.header-container {
    position: relative;
    display: flex;
    align-items: center; 
    width: 100%;
    height: fit-content;
}

.header-container {
    position: relative; 
    overflow: hidden; 
}


.anhdau, .anhdau1 {
    position: absolute; 
    max-height: 3em; 
    animation: move 3s forwards; 
}

.anhdau {
    animation-name: move1; 
}

.anhdau1 {
    animation-name: move2; 
}

@keyframes move1 {
    from {
        right: -200px; 
    }
    to {
        right: 20%; 
    }
}

@keyframes move2 {
    from {
        left: -100px; 
    }
    to {
        left: 80%; 
    }
}
/* Tương thích tỷ lệ */
@media (max-width:1200px){
    *{
        font-size:10px;
    }
    .box:nth-child(1){
        margin-top: 10px;
    }
    .box{
        flex-direction: column;
        width: 20em;
        height: 35em;
        padding: 5px 5px 5px 5px;
        margin:10px;
    }
    .rentBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .item{
        flex-direction: column;
        align-items: center;
    }
    .anh1, .anh2, .anh3,.anh4, .anh5,  .anh6{
        justify-self: center;
        width: 80%;
        height:30em;
    }
}

